<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Google analytics</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-list>
		<p><ion-icon name="ios-alert-outline"></ion-icon> <i>Available on a device only.</i></p>

		<ion-item-group>
			<ion-item-divider color="light">Metric</ion-item-divider>
			<ion-item>
				<ion-label stacked>Key</ion-label>
				<ion-input [(ngModel)]="metricKey"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>Value</ion-label>
				<ion-input [(ngModel)]="metricValue"></ion-input>
			</ion-item>

			<div padding>
				<button ion-button block (click)="trackMetric()">Track metric</button>
			</div>
		</ion-item-group>

		<ion-item-group>
			<ion-item-divider color="light">Timing</ion-item-divider>
			<ion-item>
				<ion-label stacked>Variable</ion-label>
				<ion-input [(ngModel)]="timingVariable"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>Label</ion-label>
				<ion-input [(ngModel)]="timingLabel"></ion-input>
			</ion-item>

			<div padding>
				<button ion-button block (click)="trackTiming()">Track timing</button>
			</div>
		</ion-item-group>

		<ion-item-group>
			<ion-item-divider color="light">Exceptions</ion-item-divider>

			<ion-item>
				<ion-label stacked>Exception description</ion-label>
				<ion-textarea [(ngModel)]="exception" rows="8"></ion-textarea>
			</ion-item>
			<div padding>
				<button ion-button block (click)="logException()">Log exception</button>
			</div>
		</ion-item-group>

		<ion-item-group>
			<ion-item-divider color="light">Events</ion-item-divider>

			<ion-item>
				<ion-label stacked>Category</ion-label>
				<ion-input [(ngModel)]="category"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>Action</ion-label>
				<ion-input [(ngModel)]="action"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>Label</ion-label>
				<ion-input [(ngModel)]="label"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>Value</ion-label>
				<ion-input [(ngModel)]="value"></ion-input>
			</ion-item>

			<div padding>
				<button ion-button block (click)="logEvent()">Log event</button>
			</div>
		</ion-item-group>

	</ion-list>
</ion-content>
